FRONTEND_PORT=5173
BACKEND_PORT=8000

APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
SANCTUM_STATEFUL_DOMAINS=localhost:5173,127.0.0.1:5173

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_FORWARD_PORT=3306
DB_DATABASE=auto_parts_store
DB_USERNAME=auto_parts_user
DB_PASSWORD=auto_parts_password
MARIADB_ROOT_PASSWORD=root_password
